<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jstart.qypicture.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.jstart.qypicture.model.entity.Blog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <result property="collectCount" column="collect_count" jdbcType="BIGINT"/>
        <result property="isRecommend" column="is_recommend" jdbcType="TINYINT"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="reviewStatus" column="review_status" jdbcType="TINYINT"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,
        content,view_count,like_count,
        comment_count,collect_count,is_recommend,
        sort,review_status,review_message,
        reviewer_id,review_time,create_time,
        update_time,delete_time
    </sql>
</mapper>
