<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jstart.qypicture.mapper.PubPictureMapper">

    <resultMap id="BaseResultMap" type="com.jstart.qypicture.model.entity.PubPicture">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="aiDesc" column="ai_desc" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="picSize" column="pic_size" jdbcType="BIGINT"/>
        <result property="picWidth" column="pic_width" jdbcType="INTEGER"/>
        <result property="picHeight" column="pic_height" jdbcType="INTEGER"/>
        <result property="picScale" column="pic_scale" jdbcType="DOUBLE"/>
        <result property="picFormat" column="pic_format" jdbcType="VARCHAR"/>
        <result property="collectCount" column="collect_count" jdbcType="BIGINT"/>
        <result property="uploadStatus" column="upload_status" jdbcType="TINYINT"/>
        <result property="isRecommend" column="is_recommend" jdbcType="TINYINT"/>
        <result property="reviewStatus" column="review_status" jdbcType="TINYINT"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,blog_id,
        url,introduction,ai_desc,category_id,
        tags,pic_size,pic_width,
        pic_height,pic_scale,pic_format,
        collect_count,upload_status,is_recommend,
        review_status,review_message,reviewer_id,
        review_time,create_time,update_time,
        delete_time
    </sql>

    <update id="updateCollectCount">
        UPDATE pub_picture
        SET collect_count = collect_count + (#{increaseCount}),
            update_time = NOW()
        WHERE id = #{id}

    </update>
</mapper>
